flows.json
[
    {
        "id": "0b29f249d547397b",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ecf0560e6074567",
        "type": "ui_gauge",
        "z": "0b29f249d547397b",
        "name": "Temprature",
        "group": "6cd2de184d57f7d7",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temprature",
        "label": "deg C",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "45",
        "className": "",
        "x": 430,
        "y": 40,
        "wires": []
    },
    {
        "id": "061388fa99f720e6",
        "type": "mqtt in",
        "z": "0b29f249d547397b",
        "name": "",
        "topic": "temprature_rack_1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c6b7f42765f8bc63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 40,
        "wires": [
            [
                "d7ab71d8e8121825",
                "7ecf0560e6074567",
                "b3e2e851eee1c713",
                "54188838576d7a8b"
            ]
        ]
    },
    {
        "id": "d7ab71d8e8121825",
        "type": "debug",
        "z": "0b29f249d547397b",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 80,
        "wires": []
    },
    {
        "id": "a70d0bb6520e3bc5",
        "type": "ui_gauge",
        "z": "0b29f249d547397b",
        "name": "Voltage",
        "group": "6cd2de184d57f7d7",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Voltage",
        "label": "Vol V",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#b30000",
            "#e6e600",
            "#3ccb3a"
        ],
        "seg1": "350",
        "seg2": "400",
        "className": "",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "7aabfaf34d3e2655",
        "type": "mqtt in",
        "z": "0b29f249d547397b",
        "name": "",
        "topic": "voltage_rack_1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c6b7f42765f8bc63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "e06d810845158ba5",
                "a70d0bb6520e3bc5",
                "b3e2e851eee1c713",
                "54188838576d7a8b"
            ]
        ]
    },
    {
        "id": "e06d810845158ba5",
        "type": "debug",
        "z": "0b29f249d547397b",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "5db95c34902cf585",
        "type": "ui_gauge",
        "z": "0b29f249d547397b",
        "name": "Current",
        "group": "6cd2de184d57f7d7",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current",
        "label": "Amp A",
        "format": "{{value}}",
        "min": 0,
        "max": "4.0",
        "colors": [
            "#b30000",
            "#e6e600",
            "#3acb3c"
        ],
        "seg1": "2.5",
        "seg2": "3.0",
        "className": "",
        "x": 420,
        "y": 200,
        "wires": []
    },
    {
        "id": "6cb43249e989034f",
        "type": "mqtt in",
        "z": "0b29f249d547397b",
        "name": "",
        "topic": "current_rack_1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c6b7f42765f8bc63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "91dafd954f7b70a3",
                "5db95c34902cf585",
                "b3e2e851eee1c713",
                "54188838576d7a8b"
            ]
        ]
    },
    {
        "id": "91dafd954f7b70a3",
        "type": "debug",
        "z": "0b29f249d547397b",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "b3e2e851eee1c713",
        "type": "function",
        "z": "0b29f249d547397b",
        "name": "switch-on/off",
        "func": "if (msg.temprature_rack_1 < 35 && msg.voltage_rack_1 > 400 && msg.current_rack_1 > 3.0) {\n    msg.payload = 1\n}\n\nelse if (msg.temprature_rack_1 > 40 && msg.voltage_rack_1 < 400 && msg.curent_rack_1 < 3.0) {\n    msg.payload = 0;\n}\n\nelse {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 320,
        "wires": [
            [
                "4ec6f759bc04446b",
                "95b4b5fa20b83d3e"
            ]
        ]
    },
    {
        "id": "4d4d0d3ba9e969d8",
        "type": "file",
        "z": "0b29f249d547397b",
        "name": "damaged_data/rack1",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 900,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "31a75e31102bd538",
        "type": "file",
        "z": "0b29f249d547397b",
        "name": "data_storage/rack1",
        "filename": "C:\\Users\\KIIT\\OneDrive\\Documents\\IOT\\sampledata.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 670,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "54188838576d7a8b",
        "type": "csv",
        "z": "0b29f249d547397b",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": true,
        "multi": "one",
        "ret": "\\n",
        "temp": "a,b,c",
        "skip": "0",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "31a75e31102bd538"
            ]
        ]
    },
    {
        "id": "ed4bd911501636e7",
        "type": "mqtt out",
        "z": "0b29f249d547397b",
        "name": "",
        "topic": "rack1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c6b7f42765f8bc63",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "4ec6f759bc04446b",
        "type": "ui_switch",
        "z": "0b29f249d547397b",
        "name": "",
        "label": "rack1/relay",
        "tooltip": "",
        "group": "6cd2de184d57f7d7",
        "order": 21,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 360,
        "wires": [
            [
                "ed4bd911501636e7"
            ]
        ]
    },
    {
        "id": "cae74f919892b9a6",
        "type": "debug",
        "z": "0b29f249d547397b",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 380,
        "wires": []
    },
    {
        "id": "98409be4091f8533",
        "type": "mqtt in",
        "z": "0b29f249d547397b",
        "name": "",
        "topic": "rack1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c6b7f42765f8bc63",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 380,
        "wires": [
            [
                "cae74f919892b9a6"
            ]
        ]
    },
    {
        "id": "95b4b5fa20b83d3e",
        "type": "csv",
        "z": "0b29f249d547397b",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": true,
        "multi": "one",
        "ret": "\\n",
        "temp": "a,b,c",
        "skip": "0",
        "x": 630,
        "y": 320,
        "wires": [
            [
                "4d4d0d3ba9e969d8"
            ]
        ]
    },
    {
        "id": "6cd2de184d57f7d7",
        "type": "ui_group",
        "name": "Rack1",
        "tab": "59e495d232bcf43a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6b7f42765f8bc63",
        "type": "mqtt-broker",
        "name": "Hive MQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "59e495d232bcf43a",
        "type": "ui_tab",
        "name": "Rack-1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]